body{
    
    padding-bottom: 70px;
    
}

#main{
	display: block;
	margin-left: auto;
	margin-right: auto;	
	margin-top: 20%;
}

.navbar-fixed-top {
    min-height: 100px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 100px;
}

@media (min-width: 768px) {


	.navbar .navbar-nav{
	  display: inline-block;
	  float: none;
	  vertical-align: top;
	}

	.navbar .navbar-collapse {
	  text-align: center;
	}

}


@media (max-width: 768px) {

	.navbar-nav > li > a {
		    line-height: 20px;
		    padding-top: 10px;
		    padding-bottom: 10px;
	}

}

.page-header{

	margin-top: 20%;
}