body{
    
    padding-bottom: 70px;
}

#maincontent{}

#mainimage > img{
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#maincontent img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#sadis{
    margin-top: 20%;
}

#bottomimg > img{
    margin-top: 25px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}


.fullscreen-image {
    z-index: -99;
    position: relative;
    display: block;
}



.slider_images
{ 
	margin-top: 100px;
}


#main{
	display: block;
	margin-left: auto;
	margin-right: auto;	
	margin-top: 20%;
}

.navbar-fixed-top {
    min-height: 100px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 100px;
}

@media (min-width: 768px) {


	.navbar .navbar-nav{
	  display: inline-block;
	  float: none;
	  vertical-align: top;
	}

	.navbar .navbar-collapse {
	  text-align: center;
	}

}


@media (max-width: 768px) {

	.navbar-nav > li > a {
		    line-height: 20px;
		    padding-top: 10px;
		    padding-bottom: 10px;
	}

}

.page-header{

	margin-top: 20%;
	margin-left: 10%;
}


.page-content{
	margin-left: 10%;
}

.row{
    margin-left: 26px;
}

.desc{

    margin-top: 100px;
}

.special{
    margin-left: 60px;
}